body {
    background-position: center;
}
.heading {
    font-size: 23px;
    background-color: gold;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px burlywood;
}

.note {
    font-size: 15px;
    color: blueviolet;
}

.copy_right_footer {
    position: fixed;
    color: greenyellow;
    bottom: 0;
    width: 100%;
    background-color: rosybrown;
    line-height: 3;
    text-align: center;
}

canvas {
    border: 5px solid royalblue;
    border-radius: 20px;
    box-shadow: 5px 5px 5px royalblue;
}

video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}